{% extends 'index.html' %}
{% load static %}
{% load i18n %}
<!-- charging-station -->
{% block content %}

<section class="charging-station-section">
  <div class="container">
    <div class="left_images">
      <div class="one-background-img">
        <img class="image-map" src="{% static 'app/images/charging-station/charging-block-1.webp' %}" alt="one image">
      </div>
    </div>
    <div class="right_content">
      <div class="one-info">
        <h2>{% trans "ninja ЗАРЯДКИ" %}</h2>
        <p class="text-1">{% trans "Не зволікай та заряджай на швидких зарядних станціях by NINJA TAXI" %}</p>
        <div class="contact-me-btn" id="open-form">
          <button class="contact-me">{% trans "Дізнатись більше" %}</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="charging-station-section-2">
  <div class="container">
    <h2>прямуй прямо до цілі. Вже сьогодні</h2>

    <div class="charging-cards">
      <div class="charging-card">
        <img src="{% static 'app/images/charging-station/charging-block-2.webp' %}" alt="img 1">
        <div class="card-description">
          <h3>Безпека</h3>
          <p>
            Наші зарядні станції мають захист від перенапруги та системи ізоляції,
            що запобігають пошкодженню електроніки електромобіля.
          </p>
        </div>
      </div>

      <div class="charging-card">
        <img src="{% static 'app/images/charging-station/charging-block-2.webp' %}" alt="img 2">
        <div class="card-description">
          <h3>Швидкість</h3>
          <p>
            Наші швидкісні зарядні станції можуть зарядити Ваш електрокар з 0 до 80 за 60 хвилин
          </p>
        </div>
      </div>

      <div class="charging-card">
        <img src="{% static 'app/images/charging-station/charging-block-2.webp' %}" alt="img 3">
        <div class="card-description">
          <h3>Вид зарядної станції</h3>
          <p>
            Наша зарядна станція -
            40 kWt GBT/DC
          </p>
        </div>
      </div>

      <div class="charging-card">
        <img src="{% static 'app/images/charging-station/charging-block-2.webp' %}" alt="img 1">
        <div class="card-description">
          <h3>Ми завжди на зв’язку</h3>
          <p>
            Якщо у Вас виникнуть питання - ми завжди з Вами на зв’язку
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="charging-station-section-3">
  <div class="container">
    <div class="charging-station">
      <div class="charging-station-description">
        <h2>Ninja Зарядні станції</h2>
        <p>NINJA TAXI пропонує інвестувати в зарядні станції. Це вигідна інвестиція, яка не потребує багато вкладень та
          зусиль.</p>
      </div>
      <div class="buttons-box">
        <button class="contact-me-button">Дізнатися подробиці</button>
      </div>
    </div>
    <div class="img-box">
      <img class="img-1" src="{% static 'app/images/charging-station/charging-block-3.webp' %}" alt="" loading="lazy">
    </div>
  </div>
</section>

<section class="charging-station-section-4">
  <div class="container">
    <div class="img-box">
      <img class="img-1" src="{% static 'app/images/charging-station/charging-block-4.webp' %}" alt="" loading="lazy">
    </div>
    <div class="charging-station-map">
      <div class="charging-station-description">
        <h2>Розташування NINJA ЗАРЯДОК</h2>
        <p>Зарядні станції NINJA розташовані в Києві. Ви можете знайти наші зарядні станції на карті</p>
      </div>
    </div>
  </div>
</section>

<section class="charging-station-section-5">
  <div class="container">
    <div class="how-to-charge">
      <div>
        <h2>Як зарядити Електрокар</h2>
        <ul>
          <li>Завантажити застосунок CHARGEX</li>
          <li>Обрати зарядну станцію NINJA TAXI</li>
          <li>Поповнити гаманець в застосунку</li>
          <li>Розпочати зарядку</li>
        </ul>
        <div class="images-box">
          <img class="img-1" src="{% static 'app/images/charging-station/charging-block-5-1.webp' %}" alt=""
               loading="lazy">
          <img class="img-1" src="{% static 'app/images/charging-station/charging-block-5-2.webp' %}" alt=""
               loading="lazy">
        </div>
      </div>
    </div>
    <div class="img-box">
      <img class="img-1" src="{% static 'app/images/charging-station/charging-block-5-3.webp' %}" alt="" loading="lazy">
    </div>
  </div>
</section>

{% include '_blog_box.html' %}

{% endblock %}