{% extends 'index.html' %}
{% load static %}
{% load i18n %}
<!-- investment section -->
{% block content %}
<section class="investment_section">
  <div class="container">
    <div class="investment-left">
      <img class="invest-img" src="{% static 'app/images/invest-img/invest-img-1.webp' %}" alt="one image">
    </div>
    <div class="investment-right">
      <div class="decorate-img">
        <img src="{% static 'app/images/index-one-block-3.webp' %}" alt="three image">
        <div class="invest-one-info">
          <h2>{% trans "Інвестуйте в екологічне майбутнє" %}</h2>
          <p class="invest-text-1">
            {% trans "Вкладайте у майбутнє, обираючи електромобілі від Ninja Taxi." %}
            {% trans "Ваш вибір - це зелена мобільність, чисте повітря та стале місто." %}
          </p>
        </div>
      </div>
      <div class="invest-btn-box" id="open-form">
        <input type="email" placeholder="Електронна адреса" class="email-input">
        <button class="free-access-button">{% trans "Дізнатись більше" %}</button>
      </div>
    </div>
  </div>
</section>
<!-- end investment section -->

<!-- investment slider section -->
<section class="investment-slider-section">
  <div class="container">
    <div class="title-slider">
      <h2>{% trans 'Варіанти співпраці:' %}</h2>
    </div>
    <section class="splide investment-slider" aria-label="Варіанти співпраці">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="investment-slider">
              <h3>В Україні:</h3>
              <ul>
                <li>1.Сума інвестиції: 20.000$</li>
                <li>2.Ставка: 25%</li>
                <li>3.Електромобіль придбається на території України.</li>
              </ul>
              <h3>Строк: 3 - 4 роки</h3>
              <p>Технічне обслуговування та ремонти на рахунок управлінської компанії<br>Ризик простою 50/50</p>
              <ul>
                <h3>Переваги:</h3>
                <li>Фіксований дохід</li>
                <li>Інвестор не несе жодних ризиків.</li>
                <li>Адміністрування "під ключ" за рахунок управлінської компанії.</li>
              </ul>
            </div>
          </li>
          <li class="splide__slide">
            <div class="investment-slider">
              <h3>Закордоном:</h3>
              <ul>
                <li>1.Сума інвестиції: 15.000$</li>
                <li>2.Ставка: 33%</li>
                <li>3.Електромобіль придбається закордоном.</li>
              </ul>
              <h3>Строк: 3 роки</h3>
              <p>Технічне обслуговування та ремонти на рахунок управлінської компанії<br>Ризик простою 50/50</p>
              <ul>
                <h3>Переваги:</h3>
                <li>Фіксований дохід</li>
                <li>Інвестор не несе жодних ризиків.</li>
                <li>Адміністрування "під ключ" за рахунок управлінської компанії.</li>
              </ul>
            </div>
          </li>
          <li class="splide__slide">
            <div class="investment-slider">
              <h3>Сумісний:</h3>
              <ul>
                <li>1.Сума інвестиції: 15.000 (50/50)</li>
                <li>2.Ставка: 33%</li>
                <li>3.Електромобіль придбається закордоном</li>
                <li>4.Марка не обговорюється</li>
              </ul>
              <h3>Строк: 3 роки</h3>
              <p>Технічне обслуговування та ремонти за рахунок -50/50<br>Ризик простою 50/50</p>
              <ul>
                <h3>Переваги:</h3>
                <li>Інвестування за Вашими правилами та вимогами</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <div class="consultation-button">
      <button>Проконсультуватися</button>
    </div>
  </div>
</section>
<!-- end investment slider section -->

<!-- investment offer -->

<section class="investment-offer-section">
  <div class="container">
    <h2>{% trans "Що ми пропонуємо" %}</h2>

    <div class="cards">
      <div class="card">
        <img src="{% static 'app/images/invest-img/invest-offer-1.webp' %}" alt="img 1">
        <h3>{% trans "Ремонт і обслуговування машини" %}</h3>
        <p>
          {% trans "Ми несемо повну відповідальність за їх обслуговування та ремонт." %}
          {% trans "Ви можете бути впевнені, що протягом усього терміну інвестиції, " %}
          {% trans "ваші машини будуть підтримуватися у найкращому стані." %}
        </p>
      </div>

      <div class="card">
        <img src="{% static 'app/images/invest-img/invest-offer-2.webp' %}" alt="img 2">
        <h3>{% trans "Власні підзарядні станції" %}</h3>
        <p>
          {% trans "Однією з основних переваг нашої інвестиційної пропозиції є те, " %}
          {% trans "що ми маємо власні мережі підзарядних станцій. " %}
          {% trans "Це означає, що ви можете бути впевнені, що ваші автомобілі завжди будуть готові до роботи, " %}
          {% trans "і ви не будете турбуватися про їх зарядку." %}
        </p>
      </div>

      <div class="card">
        <img src="{% static 'app/images/invest-img/invest-offer-3.webp' %}" alt="img 3">
        <h3>{% trans "Досвідчені і кваліфіковані водії" %}</h3>
        <p>
          {% trans "Наша компанія має досвід у підборі та навчанні водіїв, " %}
          {% trans "які відповідають найвищим стандартам безпеки та обслуговування клієнтів. " %}
          {% trans "Ви не будете турбуватися про пошук або найм водіїв, " %}
          {% trans "ведення їх документації або організацію графіків. " %}
          {% trans "Всі ці питання лежать на наших плечах." %}</p>
      </div>
    </div>

    <button>{% trans "Дізнатися як стати інвестором" %}</button>
  </div>
</section>

<!-- end investment offer -->

<!-- investment in numbers -->

<section class="investment-in-numbers-section">
  <div class="container">
    <h2>{% trans "Інвестиції у цифрах" %}</h2>
    <div class="durations">
      <p>
        {% trans "Початкова інвестиція: Ваша інвестиція становитиме [800000 грн.] для придбання автомобіля." %}
      </p>
      <p>
        {% trans "За нашими розрахунками, інвестицію можна повернути за 3 роки." %}
      </p>
      <p>
        {% trans "Опція викупу: Після того, як інвестиція буде повернута, " %}
        {% trans "ми можемо викупити автомобіль за залишкову вартість, яка буде [450.000 грн]." %}
      </p>
      <p>
        {% trans "Ви можете і далі використовувати машину та отримувати чистий прибуток" %}
      </p>
      <p>
        {% trans "Протягом всього часу автомобіль генеруватиме прибуток, " %}
        {% trans "і ви будете отримувати [30% прибутку] від загального прибутку, " %}
        {% trans "що складається з щотижневого доходу в розмірі [5 000 грн]." %}
      </p>
    </div>
    <div class="img-box">
      <img src="{% static 'app/images/invest-img/invest-number.webp' %}" alt="img">
    </div>
  </div>
</section>

<!-- end investment in numbers -->

<!--investment car park-->

<section class="investment-park-section">
  <div class="container">
    <div class="title-slider">
      <h2>{% trans 'Наш автопарк' %}</h2>
    </div>
    <section class="splide investment-park-slider" aria-label="Варіанти співпраці">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="investment-park-slider">
              <h3 class="slider-title-1">{% trans "BYD E2" %}</h3>
              <h4 class="slider-description-1">
                {% trans "Міський електромобіль. Він має дальність на одному заряді до 305 км." %}
                {% trans "Акумулятор літій-залізо-фосфатний та вміщує до 5 пасажирів." %}
              </h4>
              <div class="img-box">
                <img src="{% static 'app/images/invest-img/invest-car-1.webp' %}" alt="img">
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="investment-park-slider">
              <h3 class="slider-title-2">{% trans "BYD Yuan Pro" %}</h3>
              <h4 class="slider-description-2">
                {% trans "Міський компактний електрокросовер." %}
                {% trans "Завдяки літій-залізо-фосфатному акумулятору, " %}
                {% trans "він пропонує дальність до 400 км на одному заряді." %}
              </h4>
              <div class="img-box">
                <img src="{% static 'app/images/invest-img/invest-car-2.webp' %}" alt="img">
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="investment-park-slider">
              <h3 class="slider-title-3">{% trans "Changan Eado EV300" %}</h3>
              <h4 class="slider-description-3">
                {% trans " Міський середньорозмірний електричний седан. З акумулятором літій-залізо-фосфатного типу." %}
              </h4>
              <div class="img-box">
                <img src="{% static 'app/images/invest-img/invest-car-3.webp' %}" alt="img">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section class="auto-park-seven-section">
  <div class="container">
    <h2 class="title-block">{% trans "Ninja блог" %}</h2>
    <div class="blog-cards">
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-1.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Дизайн майбутнього: інноваційні концепції в електротаксі" %}
        </h2>
        <p class="description-blog">
          {% trans "У світі, де екологічні питання стають все більш актуальними, " %}
          {% trans "електрокари не просто є перевізниками, вони - це майбутнє транспорту." %}</p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-2.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Технології в дії: як електротаксі змінюють правила гри" %}
        </h2>
        <p class="description-blog">
          {% trans "Електротаксі - це новий вимір мобільності, " %}
          {% trans "який змінює правила гри в транспортній індустрії." %}
        </p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
    </div>
    <div class="blog-cards">
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-1.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Поруч і завжди доступні: " %}
          {% trans "Важливість ефективної підтримки в електротаксі" %}
        </h2>
        <p class="description-blog">
          {% trans "Електротаксі - це не просто транспортний засіб; це мобільний сервіс, " %}
          {% trans "який змінює наше сприйняття громадського транспорту." %}
        </p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-2.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Зарядні станції для електромобілів: Технологічна Революція " %}
        </h2>
        <p class="description-blog">
          {% trans "Успіх електромобільної революції залежить від наявності надійної та " %}
          {% trans "зручної інфраструктури зарядних станцій." %}</p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
    </div>
  </div>
</section>

<!--investment end car park -->
<!-- investment  -->
{% endblock %}