{% extends 'index.html' %}
{% load static %}
{% load i18n %}
<!-- charging-station -->
{% block content %}
<section class="price-header-section">
  <div class="container">
    <div class="price-header-left">
      <img class="price-header-img" src="/static/app/images/invest-img/invest-img-1.webp" alt="one image">
    </div>
    <div class="price-header-right">
      <div class="decorate-img">
        <img src="/static/app/images/index-one-block-3.webp" alt="three image">
      </div>
    </div>
  </div>
</section>
{% endblock %}