{% load static %}
{% load i18n %}
<form method="post" id="payment-driver-list" action="choose-driver" novalidate>
  {% csrf_token %}
  <div class="title-choose-driver">
    <h2>{% trans "Оберіть водія" %}</h2>
    <span class="modal-payments-date"></span>
    <span class="shift-close-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <path d="M26.5 2L14.25 14.25M2 26.5L14.25 14.25M14.25 14.25L2 2L26.5 26.5" stroke="white" stroke-width="3"
              stroke-linejoin="round"/>
      </svg>
    </span>
  </div>
    <div class="driver-search-container">
      <h2>{% trans "Водії" %}</h2>
      <input type="text" id="search-driver" placeholder="Пошук водія" name="search-driver">
      <span class="search-driver">
            <i class="fa fa-search"></i>
      </span>
    </div>
        <div class="create-payment-list"></div>
</form>