<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% include 'dashboard/dashboard-header-sidebar.html' %}

  <!-- Main Manager-->
  <main class="main-container">
    <div class="main-title">
      <h2>{% trans 'Інформаційна панель' %}</h2>
    </div>
    <div class="common-period" id="period-window">
      <label for="period-common">{% trans 'Виберіть період:' %}</label>
      <div class="custom-select" id="period-common">
        <span class="selected-option">{% trans 'Вчора' %}</span>
        <i class="fas fa-angle-down"></i>
        <ul class="options">
          <li data-value="yesterday">{% trans 'Вчора' %}</li>
          <li data-value="current_week">{% trans 'Поточний тиждень' %}</li>
          <li data-value="last_week">{% trans 'Минулий тиждень' %}</li>
          <li data-value="current_month">{% trans 'Поточний місяць' %}</li>
          <li data-value="last_month">{% trans 'Минулий місяць' %}</li>
          <li data-value="current_quarter">{% trans 'Поточний квартал' %}</li>
          <li data-value="last_quarter">{% trans 'Минулий квартал' %}</li>
          <li data-value="custom">{% trans 'Вибрати період >' %}</li>
        </ul>
      </div>
    </div>
    <div id="datePicker" style="display: none;">
      <label for="start_report">{% trans 'Початкова дата:' %}</label>
      <input type="date" id="start_report" name="start_date">
      <label for="end_report">{% trans 'Кінцева дата:' %}</label>
      <input type="date" id="end_report" name="end_date">
      <input class="apply-filter-button" type="button" onclick="applyDateRange()"
             value="{% trans 'Фільтрувати' %}">
    </div>
    <div class="main-cards">
      <div class="card">
        <h2>{% trans 'Загальний дохід' %}</h2>
        <span class="weekly-income-amount"></span>
        <h2>{% trans 'Чистий дохід' %}</h2>
        <span class="weekly-clean-amount"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      {% if investor_group %}
      <div class="card">
        <h2>{% trans 'Загальний пробіг' %}</h2>
        <span class="income-km"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      <div class="card">
        <h2>{% trans 'Загальні витрати на авто' %}</h2>
        <span class="spending-all"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      {% else %}
      <div class="card">
        <h2>{% trans 'Холостий пробіг' %}</h2>
        <span class="weekly-income-rent"></span>
        <h2>{% trans 'Загальний пробіг' %}</h2>
        <span class="income-km"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      <div class="card">
        <h2>{% trans 'Середня ефективність автомобілів' %}</h2>
        <span class="income-efficiency"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      {% endif %}
    </div>
    <div class="charts">
      {% if investor_group %}
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Дохід' %}</h2>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="investor-bar-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Пробіг автомобіля' %}</h2>
        <div class="noDataMessage2" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="investor-area-chart" style="width: 100%; height: 600px;"></div>
      </div>
      {% else %}
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Доходи водіїв' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="bar-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Ефективність автомобіля' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="car-select">
          <div class="custom-dropdown">
            <div class="selected-option" id="selected-vehicle">
              <span>{% trans 'Виберіть авто' %}</span>
              <i class="fas fa-angle-down"></i>
            </div>
            <ul class="dropdown-options" id="vehicle-options">
              {% for vehicle in get_all_vehicle %}
              <li data-value="{{ vehicle.id }}">{{ vehicle }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="noDataMessage2" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="area-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Середня ефективність автомобіля' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="bar-three-chart" style="width: 100%; height: 600px;"></div>
      </div>
      {% endif %}
    </div>
    {% include 'dashboard/_confirmation-update-database.html' %}
  </main>
  <!-- End Main Manager-->
</div>

<!-- Scripts -->
<script>
  const VehicleImg = "{% static 'app/images/index-one-block-2.webp' %}";
  const logoImageUrl = "{% static 'app/images/logo-2.svg' %}";
  let ajaxPostUrl = "{% url 'post_request' %}";
  let ajaxGetUrl = "{% url 'get_request' %}";
</script>
<!-- ApexCharts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.41.0/dist/apexcharts.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" defer></script>
{% if investor_group %}
<script src="{% static 'dashboard/js/scripts-investor.js' %}" defer></script>
{% else %}
<script src="{% static 'dashboard/js/scripts-partner.js' %}" defer></script>
{% endif %}
<script src="{% static 'dashboard/js/header-sidebar.js' %}" defer></script>
<script src="{% static 'dashboard/js/scripts.js' %}" defer></script>
</body>
</html>
