<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% include 'dashboard/dashboard-header-sidebar.html' %}

<!-- Content -->



<!-- End Content -->

<!-- Scripts -->
<script>
  const VehicleImg = "{% static 'app/images/index-one-block-2.webp' %}";
  const logoImageUrl = "{% static 'app/images/logo-2.svg' %}";
  let ajaxPostUrl = "{% url 'post_request' %}";
  let ajaxGetUrl = "{% url 'get_request' %}";
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" defer></script>
<script src="{% static 'dashboard/js/header-sidebar.js' %}" defer></script>
</body>
</html>
