<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% include 'dashboard/dashboard-header-sidebar.html' %}

<!-- Content -->
<main class="main-container">
  <div class="main-title">
    <h2>{% trans 'Водії' %}</h2>
  </div>
  <div class="info-driver">
    <div class="title-driver">
      <h2>{% trans 'Виплати водіям' %}</h2>
      <h2 class="income-drivers-date"></h2>
    </div>
    <div class="radio-btn-box">
      <label>
        <input type="radio" name="payment-status" value="not_closed" checked>{% trans 'Не закриті' %}
      </label>
      <label>
        <input type="radio" name="payment-status" value="closed">{% trans 'Закриті' %}
      </label>
    </div>
    <div class="filter">
      <label for="period">{% trans 'Виберіть період:' %}</label>
      <div class="custom-select-drivers" id="period">
        <span class="selected-option-drivers">{% trans 'Поточний квартал' %}</span>
        <i class="fas fa-angle-down"></i>
        <ul class="options-drivers">
          <li data-value="current_quarter">{% trans 'Поточний квартал' %}</li>
          <li data-value="last_quarter">{% trans 'Минулий квартал' %}</li>
          <li data-value="custom">{% trans 'Вибрати період >' %}</li>
        </ul>
      </div>
    </div>
    <div id="datePickerDriver" style="display: none;">
      <label for="start_report_driver">{% trans 'Початкова дата:' %}</label>
      <input type="date" id="start_report_driver" name="start_date">
      <label for="end_report_driver">{% trans 'Кінцева дата:' %}</label>
      <input type="date" id="end_report_driver" name="end_date">
      <input class="apply-filter-button_driver" type="button" onclick="applyCustomDateRangeVehicle()"
             value="{% trans 'Фільтрувати'%}">
    </div>
    <table class="driver-table">
      <thead>
      <tr>
        <th class="sortable" data-sort="period">{% trans 'Період виплати' %}</th>
        <th class="sortable" data-sort="driver">{% trans 'Водій' %}</th>
        <th class="sortable" data-sort="kasa">{% trans 'Каса' %}</th>
        <th class="sortable" data-sort="cash">{% trans 'Готівка' %}</th>
        <th class="sortable" data-sort="rent">{% trans 'Оренда' %}</th>
        <th class="sortable" data-sort="bonus">{% trans 'Бонуси' %}</th>
        <th class="sortable" data-sort="fines">{% trans 'Штрафи' %}</th>
        <th class="sortable" data-sort="salary">{% trans 'Зарплата' %}</th>
        <th class="sortable" data-cort="status">{% trans 'Статус виплати' %}</th>
      </tr>
      </thead>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  {% include 'dashboard/_confirmation-update-database.html' %}
</main>

<!-- End Content -->
</div>
<!-- Scripts -->
<script>
  const VehicleImg = "{% static 'app/images/index-one-block-2.webp' %}";
  const logoImageUrl = "{% static 'app/images/logo-2.svg' %}";
  let ajaxPostUrl = "{% url 'post_request' %}";
  let ajaxGetUrl = "{% url 'get_request' %}";
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" defer></script>
<script src="{% static 'dashboard/js/header-sidebar.js' %}" defer></script>
<script src="{% static 'dashboard/js/scripts-payments.js' %}" defer></script>
<script src="{% static 'dashboard/js/scripts.js' %}" defer></script>
</body>
</html>
